@media (min-width: 1025px) {
  #header {
    padding: 1rem 10%;
  }

  aside.menu-container.menu-container-active {
    display: flex;
    justify-content: center;
  }

  .nav-menu {
    flex-direction: row;
    padding: 0.5rem 0;
  }

  .items-menu {
    margin: 0 2rem;
  }

  .box-principal-title h1 {
    padding: 1rem 10%;
  }

  .box-article {
    padding: 1rem 10%;
  }

  .article-information {
    padding: 0 1rem;
  }

  .box-directory {
    padding: 1rem 10%;
  }
}
