* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  scroll-behavior: smooth;
}

/* HEADER AND MENU  */

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  transition-duration: 250ms;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ececec;
  flex-direction: row-reverse;
}

.logo-header {
  width: 150px;
}

.logo-header img {
  width: 100%;
}

.menu-container {
  position: relative;
  background-color: #a9a9a9;
  right: -105%;
  transition-duration: 250ms;
  text-align: right;
}

.menu-container-active {
  background-color: #a9a9a9;
  position: relative;
  right: -50%;
  height: auto;
  transition-duration: 250ms;
  text-align: left;
  width: 50%;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
  border-radius: 5px 0 0 5px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.items-menu {
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
}

.btn-menu {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

main {
  margin-top: 4.5rem;
}

/* SECTION INFORMATION CONTAINER  */

section#information-container {
  background-color: rgb(105, 105, 105);
  padding-bottom: 1rem;
}

.box-principal-title {
  padding: 1rem;
  background: #000000eb;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 70%);
}

.box-principal-title h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #898989;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box-article {
  padding: 1rem;
  background-color: rgb(105, 105, 105);
}

.box-article h2 {
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
}

.box-article p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
}

/* SECTION DIRECTORY CONTAINER  */

.box-directory {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.fas {
  padding: 0 0.5rem 0 0;
  /* transform: rotate(90deg); */
}

.fas-active {
  transform: rotate(90deg);
  padding: 0 1rem 0 0;
}

.folder {
  padding: 0 0.5rem 0 0;
}

.folder-icon {
  width: 40px;
  cursor: pointer;
}

.file-icon {
  width: 40px;
}

#directory-container {
  background: #ececec;
}

.folders-and-files {
  padding-left: 2rem;
}

/* SECTION ACCESSORIES  */

#wrapp-slide {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: #ececec;
}

.slider {
  width: 90vw;
  height: 80vh;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 80vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 300ms;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 90vw;
  margin-top: 29rem;
  display: flex;
  justify-content: center;
}

.manual-btn {
  background-color: rgba(255, 255, 255, 0.671);
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 1rem;
}

.manual-btn:hover {
  background: #fff;
}

/* FOOTER */

footer {
  background-color: rgb(141, 141, 141);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
}

.icon-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.icon-socials figure {
  width: 25px;
  height: 25px;
  margin: 0.5rem;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);
  border-radius: 100%;
}

.icon-socials img {
  width: 100%;
  height: 100%;
}

.terms-and-conditions {
  padding: 0.5rem 0 1rem 0;
  text-align: center;
}

.terms-and-conditions a {
  color: rgb(212, 212, 212);
}

.terms-and-conditions h5 {
  font-size: 14px;
  text-decoration: underline;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(141, 141, 141);
}

.dev {
  background-color: #000;
  padding: 0.5rem 0;
}

.dev h6 {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
  color: rgb(148, 147, 147);
  /* text-shadow: 1px 1px 2px rgb(141, 141, 141); */
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
